---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Layout title="Portafolio">
    <Nav />
    <h1 class="text-4xl text-center mt-9 font-bold">Mis proyectos</h1>

    <main>
        {
            projects.map((project) => {
                const { data, slug } = project;

                const { title, description, img } = data;

                return (
                    <div class="flex flex-row justify-center items-center mt-10">
                        <a href={`proyecto/${slug}`}>
                            <picture class="flex justify-center p-4 transition hover:scale-110">
                                <img
                                    transition:name={`img-${slug}`}
                                    src={`/${img}`}
                                    alt={title}
                                    class="mb-5 rounded-lg w-96"
                                />
                            </picture>
                        </a>
                        <div class="flex flex-col justify-center p-10">
                            <h2
                                class="mb-2 text-2xl font-bold leading-tight text-white"
                            >
                                {title}
                            </h2>

                            <p class="mb-4 text-gray-300 max-w-sm">
                                {description}
                            </p>
                        </div>
                    </div>
                );
            })
        }
    </main>
</Layout>
