---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";

import { getCollection } from "astro:content";
import { slide } from "astro:transitions";
const projects = await getCollection("projects");
---

<Layout title="Portafolio">
    <Nav />
    <h1 class="text-4xl text-center mt-9 font-bold">Mis proyectos</h1>

    <main class="flex flex-wrap justify-around items-center">
        {
            projects.map((project) => {
                const { data, slug } = project;

                const { title, description, img } = data;

                return (

                    <a transition:animate="slide" href={`/proyecto/${slug}`} class="w-96 h-96 m-4 p-4 bg-gray-800 rounded-lg shadow-lg flex flex-col justify-between">
                        <img class="w-full h-52 object-contain rounded-lg" src={`/${img}`} alt={title} />
                        <div class="flex flex-col justify-center">
                            <h2 class="text-2xl font-bold">{title}</h2>
                            <p class="text-gray-300">{description}</p>
                        </div>
                    </a>
                );
            })
        }
    </main>
</Layout>
